div.sitemap-zgw
	div.sitemap-zgw__row
		div.sitemap-zgw__row__title 中国站点
		ul.sitemap-zgw__row__list
			- var items = ['军情观察','军情分析','航空知识','军事天地','文化宣传','新闻汇总']
			- for(var n=0,len=6;n<len;n++)
				li.sitemap-zgw__row__list__item
					a(href="#", target="_blank") #{items[n]}
	div.sitemap-zgw__row
		div.sitemap-zgw__row__title 全球站点
		ul.sitemap-zgw__row__list
			- var items = ['经济观察','经济大分析','经济知识','经济天地','文化宣传','经济知识宣传','经济知识新闻']
			- for(var n=0,len=7;n<len;n++)
				li.sitemap-zgw__row__list__item
					a(href="#", target="_blank") #{items[n]}
	div.sitemap-zgw__row
		div.sitemap-zgw__row__title 全区站点
		ul.sitemap-zgw__row__list
			- var items = ['军情观察','军情分析','经济知识','经济天地','文化宣传','航空知识','军情观察','文化宣传','经济知识宣传','经济知识新闻','军情分析','航空知识','军事天地','文化宣传','新闻汇总']
			- for(var n=0,len=15;n<len;n++)
				li.sitemap-zgw__row__list__item
					a(href="#", target="_blank") #{items[n]}
	div.sitemap-zgw__row
		div.sitemap-zgw__row__title 全域站点
		ul.sitemap-zgw__row__list
			- var items = ['军情观察','军情分析','航空知识','军事天地','文化宣传','新闻汇总']
						- for(var n=0,len=6;n<len;n++)
							li.sitemap-zgw__row__list__item
								a(href="#", target="_blank") #{items[n]}
	div.sitemap-zgw__row
		div.sitemap-zgw__row__title 全城站点
		ul.sitemap-zgw__row__list
			- var items = ['经济观察','经济大分析','经济知识','经济天地','文化宣传','经济知识宣传','经济知识新闻']
						- for(var n=0,len=7;n<len;n++)
							li.sitemap-zgw__row__list__item
								a(href="#", target="_blank") #{items[n]}